.left-side {
    box-shadow: 10px 0px 13px -7px #aaaaaa, 0px 0px 5px 0px #aaaaaa;
    gap: 3rem;
}

.register-button {
    background-color: #E11C0A;
    color: #ffffff;
    padding-inline: 5px;
    padding-block: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
}

.register-text-field {
    border-radius: 30px;
    background-color: #F5F5F5;
    padding-inline: 15px;
    padding-block: 15px;
    color: white;
}

.register-text-field::placeholder {
    color: #676666;
    padding-left: 10px;
}

a {
    color: #E11C0A;
    cursor: pointer;
}