/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/app/register/register.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
a {
    color: #E11C0A;
    cursor: pointer;
}

.left-side {
    box-shadow: 10px 0px 13px -7px #aaaaaa, 0px 0px 5px 0px #aaaaaa;
    gap: 3rem;
}

.register-button {
    background-color: #E11C0A;
    color: #ffffff;
    padding-inline: 100px;
    padding-block: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
}

.register-button:hover {
    background-color: #c51708;
    color: #ffffff;
    /* I want a scale up with ease and out  */
    transition: transform 0.1s ease-out;
    transform: scale(1.030);
}

.register-button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}

.register-text-field {
    border-radius: 30px;
    background-color: #F5F5F5;
    padding-inline: 35px;
    padding-block: 15px;
    color: #000000;
    font-weight: 600;
}

.register-text-field::placeholder {
    color: #676666;
}

.right-side {
    margin-left: 33.33%;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./src/components/gallery/gallery.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.leon-title {
    color: #E11C0A;
}

.art-title {
    color: #000000
}

.connect-button {
    border-radius: 30px;
    box-shadow: #F5F5F5 0px 0px 5px 0px;
    padding-inline: 15px;
    padding-block: 10px;
    border-width: 1px;
    border-color: #b6b6b6;
    color: #E11C0A;
    cursor: pointer;
}

.connect-button:hover {
    background-color: #fcfcfc;
    transition: transform 0.1s ease-out;
    transform: scale(1.030);
}
