.leon-title {
    color: #E11C0A;
}

.art-title {
    color: #000000
}

.redirection-button {
    border-radius: 30px;
    box-shadow: #F5F5F5 0px 0px 5px 0px;
    padding-inline: 15px;
    padding-block: 10px;
    border-width: 1px;
    border-color: #b6b6b6;
    color: #E11C0A;
    cursor: pointer;
}

.redirection-button:hover {
    background-color: #fcfcfc;
    transition: transform 0.1s ease-out;
    transform: scale(1.030);
}